body {
  margin: 15px;
}

header,
#my-projects-container,
#contact-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  margin: 0;
  color: rgb(0, 0, 0);
}

a {
  text-decoration: none;
  color: black;
}

h1,
h3,
p,
h4,
ul {
  font-family: 'Roboto Mono', monospace;
}

#about-me-container {
  display: grid;
  grid-template-rows: 10% 80% 10%;
  grid-template-columns: 0.75fr 1fr;
  min-height: 100vh;
  margin: 20px;
}

.about-me-title {
  grid-row: 1;
  padding-left: 30%;
}

.about-me-pic {
  grid-row: 2;
  background-color: gray;
  height: 60%;
  width: 80%;
  margin: 10px;
  background-image: url();
}

.about-me-bio {
  grid-row: 2;
  grid-column: 2;
  padding: 15px;
  align-items: flex-start;
}

.links {
  text-align: center;
  grid-row: 3;
  grid-column: 1 / span 2;
}

.nav {
  min-width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  transition: all 0.2s ease-in-out;
}

li:hover {
  display: inline;

  box-shadow: 1px 1px #53a7ea, 2px 2px #53a7ea, 3px 3px #53a7ea;
  -webkit-transform: translateX(-5px);
  transform: translateX(-5px);
  transform: scale(1.2);
}

li a {
  text-decoration: none;
  color: black;
  transform: scale(1.8);
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 1fr 1fr 1fr;
}

.project1,
.project2,
.project3,
.project4 {
  grid-template-rows: 1;
  grid-template-columns: 1;
  height: 450px;
  width: 450px;
  margin: 50px;
}

.project1 {
  background-image: url('./images/project1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.project1:hover,
.project2:hover,
.project3:hover {
  opacity: 0.5;
}

.project2 {
  background-image: url('./images/project2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.project3 {
  background-image: url('./images/project3.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.project4 {
  background-image: url('./images/project4.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

html {
  scroll-behavior: smooth;
}
